{{- define "main" }}
    {{- $path := .RelPermalink }}
    {{- $hasHash := false }}
    {{- if or (findRE "/menu/[A-Za-z0-9]{13,}" $path) (findRE "\\?hash=" $path) }}
        {{- $hasHash = true }}
    {{- end }}
    <div class="container">
        <div id="menu-loading" style="text-align: center; padding: 2rem; display: {{ if $hasHash }}block{{ else }}none{{ end }};">
            <p>Loading menu...</p>
        </div>
        <div id="menu-error" style="display: none; text-align: center; padding: 2rem; color: red;">
            <p>Error loading menu. Please check your link.</p>
        </div>
        {{- if not $hasHash }}
            {{- /* Only render static menu when there's NO hash - it will be shown by default */}}
            <div id="menu-static">
                {{- partial "menu.html" . }}
            </div>
        {{- else }}
            {{- /* When hash is present, don't render static menu at all - JavaScript will load dynamic menu */}}
            <div id="menu-static" style="display: none;"></div>
        {{- end }}
        <div id="menu-dynamic" style="display: none;"></div>
    </div>
{{- end }}

