<header>
    <nav class="navbar">
        <div class="container">
            <a href="{{ "/" | relURL }}" class="logo">{{ .Site.Params.restaurantName | default .Site.Title }}</a>
            {{- if .Site.Menus.main }}
                <ul class="nav-menu">
                    {{- range .Site.Menus.main }}
                        <li>
                            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
                        </li>
                    {{- end }}
                </ul>
            {{- end }}
        </div>
    </nav>
</header>
