{{- /*
    Reusable meal/menu item component
*/ -}}
{{- $name := .name | default .Name -}}
{{- $price := .price | default .Price -}}
{{- $description := .description | default .Description -}}
{{- $image := .image | default .Image -}}
{{- $dietary := .dietary | default .Dietary -}}
{{- $spicy := .spicy | default .Spicy -}}
{{- $size := .size | default .Size -}}
<div class="menu-item">
    {{- if $image }}
        <div class="menu-item-image">
            <img src="{{ $image }}" alt="{{ $name }}" loading="lazy">
        </div>
    {{- end }}
    <div class="menu-item-content">
        <div class="menu-item-header">
            <h3 class="item-name">{{ $name }}</h3>
            {{- if or $dietary $spicy }}
                <div class="item-badges">
                    {{- if $dietary }}<span class="badge badge-dietary">{{ $dietary }}</span>{{- end }}
                    {{- if $spicy }}<span class="badge badge-spicy">{{ $spicy }}</span>{{- end }}
                </div>
            {{- end }}
            <span class="item-price">${{ printf "%.2f" $price }}</span>
        </div>
        {{- if $description }}<p class="item-description">{{ $description }}</p>{{- end }}
        {{- if $size }}<div class="item-size"><span class="size-label">Size: </span><span class="size-value">{{ $size }}</span></div>{{- end }}
    </div>
</div>
